.hat p {
    font-style: italic;
    text-align: center;
}

.hat h2 {
    color: purple;
    text-align: center;
}

.hat {
    width: 300px;
    float: left;
}

.hat img {
    width: 70%;
    height: auto;
    border: 20px solid green;
    margin: 15px;
}

.hat h3 {
    text-align: center;
}